<div class="hero"></div>
<div class="main-container">
  <div class="container">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
  <div class="container">
    <h2>A bit more about this flat...</h2>
    <p><%= @flat.description %></p>
  </div>
  <div class="container">
    <i><%= @flat.number_of_guests %></i>
    <i><%= @flat.price_per_night %></i>
  </div>
</div>
<div>
  <div>
    <h3>Book this place!</h3>
    <p>From</p>
    <p>To</p>
  </div>
  <div>
    <p>Share</p>
    <p>F T P M</p>
  </div>
</div>
